{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jest": true,
    "es6": true
  },
  "plugins": [
    "import",
    "jsx-a11y",
    "react"
  ],
  "rules": {
    "space-before-function-paren": "off",
    "react/self-closing-comp": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "linebreak-style": "off",
    "global-require": "off",
    "semi": "warn",
    "arrow-body-style": "off",
    "import/first": "off",
    "import/no-unresolved": "off",
    "no-multi-assign": 0,
    "func-names": 0,
    "no-empty": 0,
    "no-underscore-dangle": 0,
    "react/forbid-prop-types": 0,
    "react/prefer-stateless-function": 0,
    "react/require-default-props": 0,
    "react/no-danger": 0,
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "import/prefer-default-export": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/alt-text": 0,
    "jsx-a11y/no-redundant-roles": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "no-param-reassign": 0,
    "no-script-url": 0,
    "no-console": 0,
    "no-new": 0,
    "quotes": 0,
    "prefer-template": 0
  }
}
